.styledBurger {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  margin-top: 0.4rem;
}
.styledBurger:focus {
  outline: none;
}

.line {
  width: 2rem;
  height: 0.2rem;
  background: var(--blue);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.cross:first-child {
  width: 2rem;
  height: 0.2rem;
  background: var(--blue);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  transform: rotate(45deg);
  z-index: 10;
}

.cross:nth-child(2) {
  width: 2rem;
  height: 0.2rem;
  background: var(--blue);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  opacity: 0;
  transform: translateX(20px);
}

.cross:nth-child(3) {
  width: 2rem;
  height: 0.2rem;
  background: var(--blue);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  transform: rotate(-45deg);
  z-index: 10;
}
